.bg-primary {
	background-color:#005883 !important;
	background-image: url("./images/unad.png");
	background-position:top left;
	background-size: contain;
	background-repeat: no-repeat;
	height:100px;
	padding-left:130px;
}
@media all and (max-width:1200px) {
	body {
	width: 100%;
	height: auto;
	margin: 0 auto;
	border: 5px solid black;
	padding-top: 10px;
	background: #EFEFBB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
}
section {
	
	padding-top: 90px;
	padding-left: 8px;
	padding-right: 8px;

}

.container-fluid {  
	width: 100%;  
	padding-right: 8px;  
	padding-left: 8px;  
	margin-right: auto;  
	margin-left: auto;
	  }  

.row {  
	display: -ms-flexbox;  
	display: flex;  
	-ms-flex-wrap: wrap;  
		flex-wrap: wrap;  
	margin-right: auto;  
	margin-left: auto;  
  } 
.col {  
	-ms-flex-preferred-size: 0;  
		flex-basis: 0;  
	-ms-flex-positive: 1;  
		flex-grow: 1;  
	max-width: 100%;  
	text-align: justify;
	}

#twit{
	text-align: center;
	align-content: flex-start;	
	padding-top: 2px;
	}
#refe{

	text-align: center;
}

	
footer{
	text-align: center;
	font-size: 10pt;
	padding-top: 5px;
}